alembic           0.9.6
aniso8601         9.0.0
backcall          0.2.0
bleach            2.1.2
blinker           1.4
brotlipy          0.7.0
cached-property   1.5.2
certifi           2020.12.5
cffi              1.14.5
chardet           3.0.4
click             6.7
colorama          0.4.3
cpca              0.5.5
cryptography      3.4.4
cycler            0.10.0
Cython            0.29.14
decorator         4.4.2
dgl-cu101         0.5.2
dominate          2.3.1
entrypoints       0.3
Flask             0.12.2
Flask-Bootstrap   3.3.7.1
Flask-Login       0.4.1
Flask-Mail        0.9.1
Flask-Migrate     2.1.1
Flask-Moment      0.5.2
Flask-Neo4jDriver 0.2.0
Flask-PageDown    0.2.2
Flask-RESTful     0.3.8
Flask-Script      2.0.6
Flask-SQLAlchemy  2.3.2
Flask-Uploads     0.2.1
Flask-WTF         0.14.3
gensim            3.8.3
h5py              3.1.0
html5lib          1.0.1
idna              3.1
ipykernel         5.3.0
ipython           7.16.1
ipython-genutils  0.2.0
itsdangerous      0.24
jedi              0.17.1
jieba             0.42.1
Jinja2            2.10
joblib            0.16.0
jupyter-client    6.1.3
jupyter-core      4.6.3
Keras             2.4.3
kiwisolver        1.2.0
Mako              1.0.7
Markdown          2.6.10
MarkupSafe        2.0.1
matplotlib        3.2.2
mkl-fft           1.1.0
mkl-random        1.1.1
mkl-service       2.3.0
neo4j-driver      4.2.1
neobolt           1.7.17
neotime           1.7.4
networkx          2.5
numpy             1.18.5
olefile           0.46
pandas            1.2.2
parso             0.7.0
pickleshare       0.7.5
Pillow            7.1.2
pip               20.1.1
prompt-toolkit    3.0.16
protobuf          3.13.0
py2neo            4.2.0
pyahocorasick     1.4.1
pycparser         2.20
Pygments          2.6.1
PyGraph           0.2.1
pyOpenSSL         20.0.1
pyparsing         2.4.7
PySnooper         0.4.2
PySocks           1.7.1
python-dateutil   2.6.1
python-editor     1.0.3
pytz              2021.1
pywin32           227
PyYAML            5.3.1
pyzmq             19.0.1
requests          2.24.0
scikit-learn      0.23.1
scipy             1.5.0
setuptools        47.3.1.post20200622
six               1.11.0
sklearn           0.0
smart-open        4.2.0
SQLAlchemy        1.1.15
tensorboardX      2.1
threadpoolctl     2.1.0
torch             1.5.1
TorchSnooper      0.8
torchvision       0.6.1
tornado           6.0.4
tqdm              4.47.0
traitlets         4.3.3
urllib3           1.26.3
visitor           0.1.3
wcwidth           0.2.5
webencodings      0.5.1
Werkzeug          0.13
wheel             0.34.2
win-inet-pton     1.1.0
wincertstore      0.2
WTForms           2.1